<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Login</h1>
    <div th:if="${param.error}">
        <p>Invalid username or password.</p>
    </div>
    <div th:if="${param.logout}">
        <p>You have been logged out.</p>
    </div>
    <form th:action="@{/login}" method="post">
        <div><label>Username: <input type="text" name="username"></label></div>
        <div><label>Password: <input type="password" name="password" /></label></div>
        <div><input type="submit" value="Sign in" /></div>
    </form>
    <a th:href="@{/signup}">Sign up</a>
</body>

</html>